[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = apalashkin
[user]
	email = Alexey.palashkin@gmail.com
[alias]
	last = log -1 HEAD
	st = status
	# git unstage - remove from index
	unstage = reset HEAD --
	# up = !(git add . && git stash && git pull --rebase >&2) | grep -v \"No local changes to save\" && git stash pop
	co = checkout
	br = branch
	bra = branch -a
	chp = cherry-pick
	pr = pull --rebase
	bl = blame -b -w
	lg = log --pretty=format:'%h was %an, %ar, message: %s' --graph
	who = shortlog -s --
	# Commit tree
	gr = "log --all --graph --pretty=format:'%Cred%h%Creset%x09%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
	gha = "log --graph --date=relative --all --topo-order --pretty=format:'%C(cyan)[%an]%Creset %C(green bold)%d%Creset %C(yellow)%h%Creset : %s %C(cyan)[%ad]%Creset'"
[color]
	ui = true
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
 	path = /opt/homebrew/bin/kdiff3
[rebase]
 	instructionFormat = %s [%an]
[core]
	excludesfile = ~/.gitignore_global
